section.bonus
	.container
		.row
			.col-md-5
				h2.bonus-title только у нас вы сможетe 
					br
					span Получить массу удовольствия от единства с природой
			.col-md-7
				.bonus-content.item-1
					img(src="img/bonus-island.jpg", alt="")
					.bonus-text
						span.text-top  12 
						br
						span.sub-text гектар общая
							br 
							| площадь острова
		.row
			.col-md-7
				.bonus-content.item-2
					img(src="img/bonus-klm.jpg", alt="")
					.bonus-text
						span.text-top 120
						br
						span.sub-text километров
							br
							| от петерурга
		.row
			.col-md-7.push-md-5
				.bonus-content.item-3
					img(src="img/bonus-kottedj.jpg", alt="")
					.bonus-text
						span.text-top   7
						br
						span.sub-text комфортабельных 
							br 
							| коттеджей
		.row
			.col-md-7
				.bonus-content.item-4
					img(src="img/bonus-church.jpg", alt="")
					.bonus-text
						span.text-top  Красный
						br
						span.sub-text храм св. апостола 
								br
								| Андрея первозванного
		.row
			.col-md-7.push-md-5
				.bonus-content.item-5
					img(src="img/bonus-restourant.jpg", alt="")
					.bonus-text
						span.text-top Ресторан
						br
						span.sub-text изысканное меню очарует вас своим 
								br
								| разнообразием и вкусом ежедневно с 9 до 21