section.contacts
	.container
		.row
			.col-12
				.contacts-container
							.contacts-left
								.contacts-img-wrap
									img(src="img/contacts-img.jpg")
					
							.contacts-right
								.contacts-form-content
										.contats__title Оставьте ваши контактные данные 
											br
											span и мы вас проконсультируем
										.contacts-form
											form
												input(type="text" class="contacts-phone" name="phone" placeholder="Телефон")
												input(type="text" class="contacts-email" name="email" placeholder="E-mail")
												.contacts-btn-wrap
													input(type="submit" Value="Отправить" class="contacts__btn")
		.contacts-frame

