section.cottedj
	.container
		.row
			.col-12
				h2.cottedj-title большой выбор
						br
						span коттеджей для любой компании
				.cottedj-slider.owl-carousel
							
					.cottedj-slider-item

						.cottedj-img-wrap
							img(src="img/cottedj-slid_img.jpg")

						.cottedj-info
							
							.cottedj__name коттедж №1  
								span.price от 9 800 
									span.sign-currency *
							.cottedl__discrpt Двухэтажный коттедж общей площадью 110 кв. м с тремя спальням, базовое количевство во мест 6 (одна 2-х спальная кровать и 4 односпальных), возможно размещение 4х дополнительный мест (диван, раскладные кровати с матрасами), водяное отопление и радиаторы, водоснабжение – горячее и холодное. 

							.wrapper
								.tabs
									.tab Первый 
										br
										span этаж
									.tab Второй 
										br
										span этаж
									.tab цены
									.tab фото
									.tab Услуги
										
									
								.tab__content
									.tab__item 
											p.tab-item__info
												span Прихожая, душевая, туалет.
											p.tab-item__info  
												span Гостиная - 
												| камин, 2 диван, два кресла, журнальный столик, телевизор
											p.tab-item__info
												span  Кухня - 
												| кухонная мебель, холодильник, плита, микроволновая печь, стол, стулья, посудомоечная машина
											p.tab-item__info 
												span  Спальня - 
												| 2 односпальные кровати с тумбочками и платяной шкаф
											p.tab-item__info 
												span Терраса.
											p.tab-item__info  
												span Сауна.
									.tab__item
											p.tab-item__info
												span Спальня 1 -
												|  двуспальная кровать с 2 тумбочками, платяной шкаф
											p.tab-item__info
												span Спальня 2 -
												|  две односпальные кровати с тумбочками, платяной шкаф
											p.tab-item__info
												span  Душевая комнат - 
												|  душевая кабина, раковина, унитаз
											p.tab-item__info 
												span Балкон 
									.tab__item
									.tab__item
									.tab__item
										
					
							.cottedj-btn-wrap
								a.cottedj__btn(href="#") Бронировать

							.attention
											.left 
												span В стоимость  проживания входит: 
												ul 
													li Размещение 6 человек
													li Пользование беседкой с мангалом;
													li Пользование сауной;
													li 1 тележка дров;
													li Постельное белье, полотенце, посуда
											.right
												p 
													span Заезд 
													| в 16 часов
												p 
													span Выезд 
													| в 14 часов
												p Другое время заезда необходимо согласовывать при бронировании.
											p.attention__item При заселении оплачивается залог за сохранность имущества, который возвращается администратором при сдаче коттеджа в надлежащем убранном виде.
											p.attention__item Проживание с животными возможно только по согласованию с администрацией.
											p.attention__item
											span.attention-text Курение в коттедже запрещено, штраф за нарушение 10 000 руб.
							.icon-attention

					
					.cottedj-slider-item
						.cottedj-img-wrap
							img(src="img/cottedj-slid_img.jpg")
						.cottedj-info
							.cottedj__name коттедж №1
								span.price от 9 800 
								span.sign-currency *
							.cottedl__discrpt Двухэтажный коттедж общей площадью 110 кв. м с тремя спальням, базовое количевство во мест 6 (одна 2-х спальная кровать и 4 односпальных), возможно размещение 4х дополнительный мест (диван, раскладные кровати с матрасами), водяное отопление и радиаторы, водоснабжение – горячее и холодное. 

							.wrapper
								.tabs
									.tab Первый 
										br
										span этаж
									.tab Второй 
										br
										span этаж
									.tab цены
									.tab фото
									.tab Услуги
										
									
								.tab__content
									.tab__item 
											p.tab-item__info
												span Прихожая, душевая, туалет.
											p.tab-item__info  
												span Гостиная - 
												| камин, 2 диван, два кресла, журнальный столик, телевизор
											p.tab-item__info
												span  Кухня - 
												| кухонная мебель, холодильник, плита, микроволновая печь, стол, стулья, посудомоечная машина
											p.tab-item__info 
												span  Спальня - 
												| 2 односпальные кровати с тумбочками и платяной шкаф
											p.tab-item__info 
												span Терраса.
											p.tab-item__info  
												span Сауна.
									.tab__item
											p.tab-item__info
												span Спальня 1 -
												|  двуспальная кровать с 2 тумбочками, платяной шкаф
											p.tab-item__info
												span Спальня 2 -
												|  две односпальные кровати с тумбочками, платяной шкаф
											p.tab-item__info
												span  Душевая комнат - 
												|  душевая кабина, раковина, унитаз
											p.tab-item__info 
												span Балкон 
									.tab__item
									.tab__item
									.tab__item
										.attention
											.left В стоимость  проживания входит: 
												ul 
													li Размещение 6 человек
													li Пользование беседкой с мангалом;
													li Пользование сауной;
													li 1 тележка дров;
													li Постельное белье, полотенце, посуда
											.right
												p 
													span Заезд 
													| в 16 часов
												p 
													span Выезд 
													| в 14 часов
												p Другое время заезда необходимо согласовывать при бронировании.
											p.attention__item При заселении оплачивается залог за сохранность имущества, который возвращается администратором при сдаче коттеджа в надлежащем убранном виде.
											p.attention__item Проживание с животными возможно только по согласованию с администрацией.
											p.attention__item
											span.attention-text Курение в коттедже запрещено, штраф за нарушение 10 000 руб.



							.cottedj-btn-wrap
								a.cottedj__btn(href="#") Бронировать
					