section.gallery
	.container
		.row
			.col-12
					ul.gallery-wrap
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img-1.jpg", alt="")
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img2-2.jpg", alt="").img-l
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img-3.jpg", alt="")
						li.gallery-item
							.item-text
									p
										span Фотогаллерия 
									p природа
									p баня / ресторан 
									p свадьба
									p коттеджы
						li.gallery-item.item-4 
							a(href="#")
								img(src="img/gallery-img-4.jpg", alt="").img-4
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img-5.jpg", alt="")
						li.gallery-item
							a(href="#")
								img(src="img/gallery-img-6.jpg", alt="")