doctype
html
	head
		meta(charset="utf-8")
		title relax
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/libs.css")
		link(rel="stylesheet", href="fonts/font-awesome/css/font-awesome.min.css")
	body

		include header
		include slider-wrap
		include place
		include bonus
		include contacts
		include cottedj
		include gallery
		include nature
		include contacts-second
		include island
		include footer
		
		script(src="js/libs.min.js")
		script(src="js/datepickerrus.js")
		script(src="js/common.js")
		
		
