section.island
	.container
			.row
				.col-12
					.island-main-img-wrap
						.island-main-img
							img(src="img/island_bgr.jpg")
			.row
				.col-7.push-4
					.island-logo-wrap
						.island-logo
							img(src="img/island-logo.png", alt="")

			.row
				.col-md-6.push-md-5.col-9
					.island-text-wrap
						.island__text Настоящий остров, окруженный водной гладью. Тишина - мир спокойствия и уюта, прочь от городской суеты.
			.row
				.col-12
					.booking-date-wrap
						form
							
							input(type="text" class="input-item-1" id="	input-item-1" name="daterange" )
							input(type="text" class="input-item-2" name="daterange")
							input(type="submit" class="booking-btn" value="Бронировать")



