section.nature
	.container
		.row
			.col-12
				h2.nature-title это надо видеть своими глазами
					br
					span чувствовать всей душой и телом
		.row
			.nature-slider.owl-carousel
				.nature-slider__item
					.container
					
						.nature-content-wrap
							.nature-img-wrap
								img(src="img/nature-slider-img-1.jpg", alt="")
							.nature-content
								.nature-content__title Природа
								.nature-content__info Очарование Карельского перешейка в его неповторимой экосистеме: чистейший воздух и девственная природа подарят Вам заряд бодрости, сил и вдохновения на долгое время. Большая часть нашего острова занята лесным массивом. Это прекрасное место для прогулок, а какая радость для Вас и Ваших детей! Здесь можно собирать грибы, ягоды, а самое главное – бегать босиком по свежей траве ухоженных лужаек и купаться в чистой озерной воде.
				.nature-slider__item
					.container
						.nature-content-wrap
								.nature-img-wrap
									img(src="img/nature-slider-img-1.jpg", alt="")
						
								.nature-content
									.nature-content__title Природа
									.nature-content__info Очарование Карельского перешейка в его неповторимой экосистеме: чистейший воздух и девственная природа подарят Вам заряд бодрости, сил и вдохновения на долгое время. Большая часть нашего острова занята лесным массивом. Это прекрасное место для прогулок, а какая радость для Вас и Ваших детей! Здесь можно собирать грибы, ягоды, а самое главное – бегать босиком по свежей траве ухоженных лужаек и купаться в чистой озерной воде.


