section.place
	.container
		.row
			.col-12
				h2.place-title Почувствуйте настоящий
					br 
					span комфортный отдых с природой
	.container
		.row
			.col-lg-4.col-12
				.place__items.island
					.island-title Настоящий остров			
			.col-lg-4.col-12
				.place__items.services 
					.services-title Услуги 
						br
						| и сервис
			.col-lg-4.col-12
				.place__items.event 
					.event-title Орнанизация праздников
		.row
			.col-md-12
				.place__items-fishing 
					.fishing-title Рыбалка