section.slider-wrap
	.booking-date-wrap
				.booking__title Успейте забронировать коттедж!
				form
					.booking__date
					input(type="text" class="input-item-1" id="input-item-1" name="daterange" )
					input(type="text" class="input-item-2" id="input-item-2" name="daterange")
					input(type="submit" class="booking-btn" value="Бронировать")

					

	.header-slider.owl-carousel
		.slide.item-1
			.container
				.slider-content
					.row
						.col-lg-9.col-12
							.slider__title Единство с природой
								br 
								| мясо и рыба на открытом огне
					.row
						.col-lg-6.col-12
							.slider__sub-text Что  может быть вкуснее приготовленного мяса, рыбы или овощей гриль на мангале или в удобной BBQ? Все это вы сможете сделать у нас на острове. 


		.slide.item-2
			.container
				.slider-content
					.row
						.col-lg-9.col-12
							.slider__title лучший выбор 
								br 
								| баня возле реки и леса
					.row
						.col-lg-7.col-12
							.slider__sub-text Самое мощное и действенное средство для здоровья и омоложения нашего организма! В экологически чистом районе нашей области! 
	.carousel-wrap
				.carousel.owl-carousel
							.carousel__items.item-1
								.carousel__items-header
									.carousel__items-header__price от 
										br
										| 3 400 											
										span.sign-currency *
									img(src="img/carousel-kot-7.jpg")
								.carousel__items-name коттедж № 7
								.carousel__items-discription Одноэтажный коттедж общей площадью 40м2
									.carousel__items-btn
										a(href="") Подробнее
							.carousel__items.item-2
								.carousel__items-header
									.carousel__items-header__price от 
										br
										| 3 400 
										span.sign-currency *  
									img(src="img/carousel-kot-8.jpg")
								.carousel__items-name коттедж № 8
								.carousel__items-discription Двухэтажный коттедж общей площадью 110м2
								.carousel__items-btn
									a(href="") Подробнее
						
							.carousel__items.item-3
								.carousel__items-header
									.carousel__items-header__price от 
										br
										| 9 200 
										span.sign-currency * 
									img(src="img/carousel-kot-6.jpg")
								.carousel__items-name коттедж № 6
								.carousel__items-discription Одноэтажный коттедж общей площадью 40м2
								.carousel__items-btn
									a(href="") Подробнее
						
							.carousel__items.item-4
								.carousel__items-header
									.carousel__items-header__price от 
										br
										| 3 900 
										span.sign-currency * 
									img(src="img/carousel-kot-5.jpg")
								.carousel__items-name коттедж № 5
								.carousel__items-discription Двухэтажный коттедж общей площадью 110м2
								.carousel__items-btn
									a(href="") Подробнее
				
							.carousel__items.item-5
								.carousel__items-header
									.carousel__items-header__price от 
										br
										|9 500 
										span.sign-currency * 
									img(src="img/carousel-kot-1.jpg")
								.carousel__items-name коттедж № 1
								.carousel__items-discription Двухэтажный коттедж общей площадью 110м2
								.carousel__items-btn
									a(href="") Подробнее


							.carousel__items.item-6
								.carousel__items-header
									.carousel__items-header__price от 
										br
										| 6 800 
										span.sign-currency * 
									img(src="img/carousel-kot-4.jpg")
								.carousel__items-name коттедж № 4
								.carousel__items-discription Двухэтажный коттедж общей площадью 110м2
								.carousel__items-btn
									a(href="") Подробнее
