.cottedj{
	margin-top: 110px;
	position: relative;

}
.cottedj .owl-carousel .owl-item img{
	display: inline !important;
	width: auto;
}

.cottedj-img-wrap
{
	box-shadow: 5px 8.66px 18px 0px rgba(66,66,66,.11);
	position: absolute;
	z-index: -1;
	top:0;
	right: 18px;


}
.cottedj-slider-item{
	padding-bottom: 110px;

}

.cottedj-title{
	span{
		font-family: $open-s-b;
	}
}
span.price {
    text-transform: initial;
    color: #fb3161;
}
span.sign-currency{
	color: #fb3161;
}
.cottedj-slider{
	position: relative;
	margin-top: 55px;
	

	.owl-nav{
		font-size: 40px;
		color: #fff;
		position:absolute;
		top: -10px;
		left:345px;
		width: 200px;
		

	}
	.owl-prev{
		
		position:absolute;
		color: #737b8f;
		border:1px solid #737b8f;

	}
	.owl-next{
		left:70px;
		position:absolute;
		color: #737b8f;
		border:1px solid #737b8f;

	}
}



.cottedj-info{
	
	margin-top: 50px;
	display: inline-block;
	width: 57%;
	background-color: #fff;
	padding-left: 35px;
	padding-right: 40px;
	padding-top: 25px;
	position: relative;
	border:1px solid rgba(234,234,234,0.5);
	box-shadow: 5px 8.66px 18px 0px rgba( 66, 66, 66 , .11);

	
}
.icon-attention{
		position: absolute;
		background-image: url("../img/cottedj-icon.png");
		background-repeat: no-repeat;
		background-position: center;
		bottom:20px;
		width: 24px;
		height: 24px;
		right:30px;
		&:hover .attention{
			display: block !important;

		}


	}
.cottedj__name{
	text-transform: uppercase;
	font-size: 34px;
font-family: playfair-display-bold;
letter-spacing: 3.4px;

}
.cottedl__discrpt{
	margin-top: 35px;
	font-size: 16px;
	font-family: $open-s-l;
}
.cottedj-btn-wrap{
	margin-top: 60px;
}
.cottedj__btn{
	color:#fff;
	border-radius: 50px;
	padding:30px 45px;
	background-color: #45a344;
	box-shadow: 1.5px 2.598px 8px 0px rgba( 69, 163, 68 ,03);
	text-transform: uppercase;
	text-decoration: none;
	font-family: FuturaPTMeduim;
}
.wrapper{
	margin-top: 35px;
	min-height: 230px;
}

.tabs{
	cursor: pointer;
	border-bottom:1px solid #A9ACB0;
	min-height: 66px;
	display: flex;
	align-items:stretch;


	
}
.tab{
	
	text-transform: uppercase;
	font-family: $open-s-b;
	color: #A9ACB0;
	margin-right: 30px;
	font-size: 22px;
	vertical-align: top;
	display: inline-block;
	position: relative;
	width: 550px;
	

	span{
		font-family: $open-s-l;
	}
	&.active{
		color: #223240;
		
		&:after{
			position: absolute;
			bottom:-2px;
			height:3px;
			background-color: #3eb1a5; 
			content: ' ';
			width: 100%;
			left:0;

		}

	}
	&:last-child{
		margin-right: 0;
	}
}
.tab__content{
	margin-top: 15px;
	p{
		margin:0 ;
	}
	ul{
		margin-top: 5px;
	}

}
.tab-item__info{
	font-size: 16px;
	line-height: 24px;
	font-family: $open-s-r;

	span{
		font-family:$open-s-b;
		color:#444;
		
	}

}
.attention{	
	width: 665px;
	background-color: #fff;
	padding:30px 30px 40px 25px;
	position: absolute;
	bottom:78px;
	left:354px;
	border:1px solid rgba(234,234,234, 0.5);
	box-shadow: 5px 8.66px 18px 0px rgba( 66, 66, 66 , .11);
	display: none;
	p{
		margin:0;
		span{
		font-family:$open-s-b;
		color:#444;
		
	}
	}
	.left{
		display: inline-block;
		vertical-align: top;
		font-size: 15px;
		font-family: $open-s-l;
		width: 55%;
		&>span{
			font-family: $open-s-b;
			color:#444;
		}
		ul{
			margin-top: 2px;
		}

	}
	.right{
		display: inline-block;
		vertical-align: top;
		font-size: 15px;
		width: 44%;
		font-family: $open-s-l;
	}

}
span.attention-text{
	color: #fb3161;
	font-family: $open-s-b;
}
.attention__item{
	margin-top: 20px !important;
	font-size: 15px;
	font-family: $open-s-l;

}