@font-face {
	font-family:'open-sans-light';
	src:url('../fonts/OpenSans/open-sans-light.ttf');
}
@font-face {
	font-family: 'open-sans-regular';
	src:url('../fonts/OpenSans/open-sans-regular.ttf');
}
@font-face {
	font-family:'open-sans-bold';
	src:url('../fonts/OpenSans/open-sans-bold.ttf');
}
@font-face {
	font-family:'open-sans-extrabold';
	src:url('../fonts/OpenSans/open-sans-extrabold.ttf');
}
@font-face {
	font-family:'FututraPTBold';
	src:url('../fonts/FuturaPT/FuturaPTBold.ttf');
}
@font-face {
	font-family: 'FuturaPTMeduim';
	src:url('../fonts/FuturaPT/FuturaPTMedium.ttf');
}
@font-face {
	font-family: 'FuturaPTLight';
	src:url('../fonts/FuturaPT/FuturaPT-Light.ttf');
}

@font-face {
	font-family:'RobotoSlab-Bold';
	src:url("../fonts/RobotoSlab/RobotoSlab-Bold.ttf");
}
@font-face {
	font-family:'RobotoSlab-Regular';
	src:url("../fonts/RobotoSlab/RobotoSlab-Regular.ttf");
}
@font-face {
	font-family:'RobotoSlab-Light';
	src:url("../fonts/RobotoSlab/RobotoSlab-Light.ttf");
}
@font-face {
	font-family:'RobotoSlab-Thin';
	src:url("../fonts/RobotoSlab/RobotoSlab-Thin.ttf");
}
@font-face {
	font-family:'playfair-display-bold';
	src:url("../fonts/PlayfairDisplay/PlayfairDisplayBold.ttf");
}
@font-face {
	font-family:'playfair-display-regular';
	src:url("../fonts/PlayfairDisplay/PlayfairDisplayRegular.ttf");
}
@font-face {
	font-family:'PTRoubleSans';
	src:url("../fonts/PTRoubleSans/RUBSN.otf");
}